// Fix code paddings inside pres
.reveal pre > code {
  margin-top: -20px;
  margin-bottom: -20px;
}

// Add a little padding to li-s
.reveal section li {
  margin-top: 10px;
}

// For the frameworks_client slide:
.cloud {
  span {
    padding-left: 60px;
    padding-right: 60px;
  }
  .tag1 {
    font-size: 0.7em;
    font-weight: 100;
  }
  .tag2 {
    font-size: 0.8em;
    font-weight: 200;
  }
  .tag3 {
    font-size: 0.9em;
    font-weight: 300;
  }
  .tag4 {
    font-size: 1.0em;
    font-weight: 400;
  }
  .tag5 {
    font-size: 1.2em;
    font-weight: 500;
  }
  .tag6 {
    font-size: 1.4em;
    font-weight: 600;
  }
  .tag7 {
    font-size: 1.6em;
    font-weight: 700;
  }
  .tag8 {
    font-size: 1.8em;
    font-weight: 800;
  }
  .tag9 {
    font-size: 2.2em;
    font-weight: 900;
  }
  .tag10 {
    font-size: 2.5em;
    font-weight: 900;
  }
}

// How slide:
.reveal .center-tweet {
  position: relative;
  left:  50%;
  margin-left: -250px;
}