<section data-markdown>
  ## Make it fast

  * LocalStorage is your friend
   * Basket.js for storing those huge JavaScript files
   * Cache JSON responses
  * Sync client models when data is available
</section>
