<section>
  <h2>Client-Side Frameworks</h2>
  <div class="cloud">
    <span class="tag1">Test</span>
    <span class="tag2">Test</span>
    <span class="tag3">Test</span>
    <span class="tag4">Test</span>
  </div>
</section>