<section>
  <h1>Client-Side Frameworks</h1>
  <div class="cloud">
    <span class="tag1">Knockback.js</span>
    <span class="tag2">Sammy.js</span>
    <span class="tag1">PlastronJS</span>
    <span class="tag3">CanJS</span>
    <span class="tag2">Stapes</span>
    <span class="tag2">Dijon</span>
    <span class="tag8">Angular.js</span>
    <span class="tag2">Maria</span>
    <span class="tag3">Epitome</span>
    <span class="tag2">rAppid.js</span>
    <span class="tag4">KnockoutJS</span>
    <span class="tag2">cujo.js</span>
    <span class="tag10">Backbone</span>
    <span class="tag2">soma.js</span>
    <span class="tag1">Funnyface.js</span>
    <span class="tag2">Dojo</span>
    <span class="tag3">dermis</span>
    <span class="tag4">DUEL</span>
    <span class="tag5">YUI</span>
    <span class="tag3">Montage</span>
    <span class="tag2">PureMVC</span>
    <span class="tag9">Ember.js</span>
    <span class="tag3">Agility.js</span>
    <span class="tag4">Ext.js</span>
    <span class="tag2">Olives</span>
  </div>
</section>