<section data-markdown>
## Server-Side Frameworks
  * ***INSERT Controller/presenter snippet***
  * RABL
   * Rendered view based representations to fit your needs.
  * Object presenters/serializers
   * Ruby language powered serialization to allow for an easy dsl and flexibility.
  * Rails Api / controllers
   * Rails Api would be its own separate application.
   * If the application is bundled, just normal controllers responding to the
   supported response types.
</section>