<section data-markdown>
  ## But then again

  * Cross domain API interaction
  * Nested layouts
  * Inter application communication
  * Ensuring modules/code is available
  * Javascript

  <aside class="notes">
    * Iframe proxy, CORS, Yahoo/JSONP
    * Wide support (13k stars, 2k forks on backbone), tons of libraries available
     * Backbone layout manager, marionette
    * on vs listenTo in the application
  </aside>
</section>
