<section data-markdown>
# Closing...
  * JS is bringing the web closer and closer to a native experience, integration is the biggest challenge
  * Lots of variety leaves developers to make tough decisions to pick the right tools
  * We will be publishing our "meta-framework" **Amoeba.JS** soon on
  [github.com/AmoebaConsulting](http://github.com/AmoebaConsulting)
  * Check out out [@AmoebaSoft](http://twitter.com/amoebasoft), [http://amoe.ba/blog](http://amoe.ba/blog)
</section>
<section>
  <h1 style="margin-bottom: 100px;">Questions?</h1>
  <p style="width: 50%; float: left;">
    <strong>Chris Barton</strong><BR/>
    <a href="http://twitter.com/huTweeted">@huTweeted</a><BR/><a href="mailto:cbarton@amoe.ba">cbarton@amoe.ba</a>
  </p>

  <p style="width: 50%; float: left;">
    <strong>Daniel Jabbour</strong><BR/>
    <a href="http://twitter.com/bitgangsta">@bitgangsta</a><BR/><a href="mailto:daniel@amoe.ba">daniel@amoe.ba</a>
  </p>

  <p style="clear:both; padding-top: 30px;">
    Presentation available at:
    <%= link_to 'amoe.ba/presentations/railsbackbone', 'http://amoe.ba/presentations/railsbackbone' %>
  </p>
</section>