<section data-markdown>
  ## What/Why?

  * Client's have become more powerful
  * Javascript has become more powerful/widely used as a result

  <%= image_tag "js-trend-chart.png" %>
</section>

<section data-markdown>
  ## Leads to

  * Use your already defined API to make beautiful apps
  * Faster perceived interactions on the client for the end user
</section>
